:root {
  color-scheme: light only;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body, button, input, select, optgroup, textarea {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #121212;
}

a {
  transition: 0.4s ease;
  text-decoration: none;
  color: red;
}
a:visited {
  color: red;
}
a:hover {
  color: red;
}
a:active {
  color: red;
}

h1,
h2,
.main-title,
.section-title {
  margin: 0 0 24px;
  font-family: "Unbounded", sans-serif;
  font-weight: 700;
}

h1,
.main-title {
  font-size: 90px;
  line-height: 111%;
}

h2,
.section-title {
  font-size: 56px;
  line-height: 114%;
}

button,
.button {
  transition: 0.4s ease;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 3px solid #fff;
  border-radius: 8px;
  padding: 15px 27px;
  background-color: transparent;
  font-weight: 700;
  color: #fff;
}
button:hover,
.button:hover {
  background-color: #fff;
  color: #8073ff;
}
button--violet,
.button--violet {
  border-color: #8073ff;
  color: #8073ff;
}
button--violet:hover,
.button--violet:hover {
  background-color: #8073ff;
  color: #fff;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.container {
  max-width: 1644px;
}

.ptb-96 {
  padding-top: 96px;
  padding-bottom: 96px;
}

.pt-96 {
  padding-top: 96px;
}

.pb-96 {
  padding-bottom: 96px;
}

.site-header {
  padding: 24px 0;
  background: linear-gradient(90deg, #6a5aff 40%, #a74ad1 100%);
}
.site-header__center {
  display: flex;
  justify-content: flex-end;
  gap: 48px;
}
.site-header__messengers {
  display: flex;
  gap: 24px;
}
.site-header__messengers-item {
  font-weight: 700;
  color: #fff;
}
.site-header__phone {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  color: #fff;
}
.site-header__phone::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url("../img/global/phone-20-white.svg");
}
.site-header__phone span {
  font-weight: 700;
  font-size: 20px;
  line-height: 130%;
}
.site-header__discuss-btn {
  margin-left: auto;
}

.site-main {
  flex: 1;
}

.site-footer {
  padding: 96px 0 130px;
  background-color: #f8f8f8;
}
.site-footer .container {
  position: relative;
}
.site-footer .container::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: -130px;
  left: 0;
  width: 100%;
  height: 82px;
  background: url("../img/global/footer-text.svg") center/contain no-repeat;
}
.site-footer__logo-link {
  display: inline-block;
  margin-bottom: 48px;
}
.site-footer__site {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
}
.site-footer__privacy-policy {
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
}
.site-footer__menu-title {
  margin-bottom: 16px;
  font-weight: 700;
}
.site-footer__menu {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 0;
  padding: 0;
  list-style: none;
}
.site-footer__menu-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  color: #121212;
}
.site-footer__menu-link--main-menu {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
}
.site-footer__contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.site-footer__phone {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 20px;
  line-height: 130%;
  color: #121212;
}
.site-footer__phone::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url("../img/global/phone-20-dark.svg");
}
.site-footer__email {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 16px;
  color: #8073ff;
}
.site-footer__email::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url("../img/global/email-20-lviolet.svg");
}
.site-footer__address {
  display: inline-flex;
  gap: 8px;
  margin-bottom: 24px;
}
.site-footer__address::before {
  content: "";
  display: inline-block;
  margin-top: 3px;
  min-width: 20px;
  width: 20px;
  height: 20px;
  background: url("../img/global/map-20-dark.svg");
}
.site-footer__messengers {
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  color: #8073ff;
}
.site-footer__messengers-item {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: #8073ff;
}

.about__left {
  box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 48px;
}
.about__title:first-letter {
  color: #6924ff;
}
.about__right {
  display: flex;
  flex-direction: column;
}
.about__team {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 8px;
  height: 100%;
  padding: 48px;
  background-color: #333;
}
.about__team-text {
  margin-bottom: 24px;
  font-size: 20px;
  line-height: 130%;
  color: #fff;
}
.about__team-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
  border-radius: 8px;
  padding: 16px 24px;
  backdrop-filter: blur(25px);
  background: rgba(255, 255, 255, 0.15);
}
.about__team-link span {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  color: #fff;
}
.about__team-link span::after {
  content: "";
  display: inline-block;
  min-width: 20px;
  width: 20px;
  height: 20px;
  background: url("../img/global/arrow-right-20-white.svg");
}

.plug-page {
  position: relative;
  display: flex;
  min-height: 100vh;
  padding: 96px 12px;
  background-color: #333;
  overflow: hidden;
}
.plug-page::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  background: url("../img/plug-page/background-k.svg") center/cover no-repeat;
  animation-name: moving;
  animation-duration: 10s;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
}
.plug-page__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  box-shadow: 0 20px 40px -10px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  max-width: 1198px;
  padding: 96px;
  backdrop-filter: blur(30px);
  background: rgba(255, 255, 255, 0.1);
}
.plug-page__title {
  margin-bottom: 48px;
  font-weight: 700;
  font-size: 42px;
  line-height: 124%;
  text-align: center;
  color: #fff;
}
.plug-page__btns {
  display: flex;
  gap: 24px;
  margin-bottom: 48px;
}
.plug-page__tg-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border: 3px solid #6924ff;
  border-radius: 8px;
  min-width: 196px;
  padding: 15px;
  background-color: #6924ff;
  font-weight: 700;
  color: #fff;
}
.plug-page__tg-btn:hover {
  border-color: #fff;
  background-color: transparent;
  color: #fff;
}
.plug-page__tg-btn::after {
  content: "";
  width: 24px;
  height: 24px;
  background: url("../img/plug-page/telegram-24-white.svg");
}
.plug-page__youtube-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border: 3px solid #fff;
  border-radius: 8px;
  min-width: 196px;
  padding: 15px;
  font-weight: 700;
  color: #fff;
}
.plug-page__youtube-btn:hover {
  border-color: #6924ff;
  background-color: #6924ff;
  color: #fff;
}
.plug-page__youtube-btn::after {
  content: "";
  width: 90px;
  height: 20px;
  background: url("../img/plug-page/youtube-btn.svg");
}
.plug-page__top-text {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 167%;
  text-align: center;
  color: #fff;
}
.plug-page__bottom-text {
  display: flex;
  align-items: center;
  gap: 16px;
  font-weight: 700;
  font-size: 18px;
  line-height: 167%;
  text-align: center;
  color: #fff;
}
.plug-page__email, .plug-page__phone {
  position: relative;
  font-weight: 700;
  font-size: 24px;
  line-height: 125%;
  color: #fff;
}
.plug-page__email:hover, .plug-page__phone:hover {
  color: #fff;
}
.plug-page__email:hover::before, .plug-page__phone:hover::before {
  right: -8px;
  left: -8px;
  width: calc(100% + 16px);
  height: 32px;
}
.plug-page__email::before, .plug-page__phone::before {
  content: "";
  position: absolute;
  z-index: -1;
  bottom: -2px;
  left: 0;
  transition: 0.4s ease;
  width: 100%;
  height: 15px;
  background-color: #8073ff;
}

@media (max-width: 991px) {
  .plug-page__wrapper {
    padding: 48px;
  }
  .plug-page__bottom-text {
    flex-direction: column;
  }
}
@media (max-width: 575px) {
  .plug-page__wrapper {
    padding: 24px;
  }
  .plug-page__logo {
    max-width: 250px;
  }
  .plug-page__title {
    margin-bottom: 24px;
    font-size: 24px;
  }
  .plug-page__btns {
    flex-direction: column;
    gap: 16px;
    margin-bottom: 24px;
    width: 100%;
  }
  .plug-page__tg-btn, .plug-page__youtube-btn {
    width: 100%;
  }
  .plug-page__top-text, .plug-page__bottom-text {
    font-size: 16px;
  }
  .plug-page__email, .plug-page__phone {
    font-size: 16px;
  }
}
@keyframes moving {
  from {
    transform: rotate(0) scale(1);
  }
  50% {
    transform: rotate(-5deg) scale(1.1);
  }
  to {
    transform: rotate(0) scale(1);
  }
}
