:root {
  color-scheme: light only;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body, button, input, select, optgroup, textarea {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #121212;
}

a {
  transition: color 0.4s ease;
  text-decoration: none;
  color: #8073ff;
}
a:visited {
  color: #8073ff;
}
a:hover {
  color: #6924ff;
}
a:active {
  color: #6924ff;
}

h1,
h2,
h3,
.main-title,
.section-title {
  font-family: "Unbounded", sans-serif;
  margin: 0 0 24px;
  font-weight: 700;
}

h1,
.main-title {
  font-size: 90px;
  line-height: 111%;
}

h2,
.section-title {
  font-size: 56px;
  line-height: 114%;
}

h3 {
  font-size: 32px;
  line-height: 131%;
}

button,
.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: 0.4s ease;
  border: 3px solid #fff;
  border-radius: 8px;
  padding: 15px 27px;
  background-color: transparent;
  font-weight: 700;
  color: #fff;
}
button:hover,
.button:hover {
  background-color: #fff;
  color: #8073ff;
}
button--violet,
.button--violet {
  border-color: #8073ff;
  color: #8073ff;
}
button--violet:hover,
.button--violet:hover {
  background-color: #8073ff;
  color: #fff;
}
button--white,
.button--white {
  background-color: #fff;
  color: #8073ff;
}
button--white:hover,
.button--white:hover {
  border-color: #333;
  background-color: #333;
  color: #fff;
}

input {
  border: 1px solid #fff;
  border-radius: 8px;
  padding: 16px 23px;
  line-height: 162%;
  color: #8c8c8c;
}
input:focus {
  border-color: #6924ff;
  color: #121212;
}
input:focus-visible {
  outline: none;
}
input:invalid {
  border-color: #ff4949;
  color: #ff4949;
}
input::placeholder {
  color: #8c8c8c;
}
input.secondary {
  border: 3px solid #f0f0f0;
  padding: 15px 21px;
  background-color: #fff;
  line-height: 150%;
}
input.secondary:focus {
  border-color: #fff;
  background-color: #fff;
}
input.secondary:invalid {
  border-color: #ff4949;
  color: #ff4949;
}
input.secondary::placeholder {
  color: #fff;
}
input.secondary:placeholder-shown {
  background-color: transparent;
}

textarea {
  border: 1px solid #fff;
  border-radius: 8px;
  height: 115px;
  padding: 23px;
  line-height: 162%;
  color: #8c8c8c;
}
textarea:focus {
  border-color: #6924ff;
  color: #121212;
}
textarea:focus-visible {
  outline: none;
}
textarea::placeholder {
  color: #8c8c8c;
}

@media (max-width: 1874px) {
  h1,
  .main-title {
    font-size: 70px;
    line-height: 114%;
  }
  h3 {
    font-size: 24px;
    line-height: 150%;
  }
}
@media (max-width: 1399px) {
  h1,
  .main-title {
    font-size: 54px;
    line-height: 119%;
  }
  h2,
  .section-title {
    font-size: 48px;
    line-height: 117%;
  }
  h3 {
    font-size: 20px;
  }
}
@media (max-width: 1199px) {
  h1,
  .main-title {
    font-size: 48px;
    line-height: 117%;
  }
  h2,
  .section-title {
    font-size: 36px;
    line-height: 133%;
  }
}
@media (max-width: 991px) {
  h1,
  .main-title {
    font-size: 40px;
    line-height: 130%;
  }
  h2,
  .section-title {
    font-size: 32px;
    line-height: 131%;
  }
}
@media (max-width: 575px) {
  body {
    font-size: 14px;
    line-height: 143%;
  }
  h1,
  .main-title {
    font-size: 30px;
    line-height: 133%;
  }
  h2,
  .section-title {
    font-size: 24px;
    line-height: 150%;
  }
  h3 {
    font-size: 18px;
    line-height: 167%;
  }
  button,
  .button {
    width: 100%;
  }
}
.page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.ptb-96 {
  padding-top: 96px;
  padding-bottom: 96px;
}

.pt-96 {
  padding-top: 96px;
}

.pb-96 {
  padding-bottom: 96px;
}

.bgc-ldark {
  background-color: #333;
}

.details-link {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  transition: 0.4s ease;
  font-weight: 700;
  color: #8073ff;
}
.details-link::after {
  content: "";
  transition: 0.4s ease;
  width: 20px;
  height: 20px;
  background: url("../img/global/arrow-right-20-lviolet.svg") center/contain no-repeat;
}
.details-link:hover {
  color: #6924ff;
}
.details-link:hover::after {
  background: url("../img/global/arrow-right-20-violet.svg") center/contain no-repeat;
}
.details-link--small::after {
  width: 16px;
  height: 16px;
}
.details-link--dark {
  color: #121212;
}
.details-link--dark::after {
  background: url("../img/global/arrow-right-16-dark.svg") center/contain no-repeat;
}
.details-link--white {
  color: #fff;
}
.details-link--white::after {
  background: url("../img/global/arrow-right-16-white.svg") center/contain no-repeat;
}

.text-violet {
  color: #6924ff;
}

@media (min-width: 1875px) {
  .container {
    max-width: 1644px;
  }
}
@media (max-width: 767px) {
  .ptb-96 {
    padding-top: 48px;
    padding-bottom: 48px;
  }
  .pt-96 {
    padding-top: 48px;
  }
  .pb-96 {
    padding-bottom: 48px;
  }
}
.site-header {
  position: sticky;
  z-index: 9;
  top: 0;
  transition: 0.4s ease;
  padding: 24px 0;
  background: linear-gradient(90deg, #6a5aff 40%, #a74ad1 100%);
}
.site-header__wrapper {
  display: flex;
  align-items: center;
  gap: 48px;
}
.site-header__logo-mobile {
  display: none;
}
.site-header__scroll-menu-btn {
  font-family: "Unbounded", sans-serif;
  font-size: 20px;
  line-height: 130%;
  opacity: 0;
  visibility: hidden;
  transition: 0.4s ease;
  border: 0;
  padding: 0;
  font-weight: 800;
  text-transform: uppercase;
  color: #121212;
}
@media (max-width: 1874px) {
  .site-header__scroll-menu-btn {
    font-size: 16px;
    line-height: 150%;
  }
}
@media (max-width: 575px) {
  .site-header__scroll-menu-btn {
    font-size: 14px;
    line-height: 143%;
  }
}
.site-header__scroll-menu-btn:hover {
  background-color: transparent;
  color: #8073ff;
}
.site-header__center {
  display: flex;
  justify-content: flex-end;
  gap: 48px;
  margin: 0 48px 0 auto;
}
.site-header__search-btn {
  border: 0;
  width: 24px;
  height: 24px;
  padding: 0;
  background: url("../img/global/search-24-white.svg");
}
.site-header__search-btn:hover {
  background: url("../img/global/search-24-white.svg");
}
.site-header__search-btn.active {
  background: url("../img/global/close-24-white.svg");
}
.site-header__search-btn.active:hover {
  background: url("../img/global/close-24-white.svg");
}
.site-header__messengers {
  display: flex;
  gap: 24px;
}
.site-header__messenger {
  position: relative;
  font-weight: 700;
  color: #fff;
}
.site-header__messenger:hover {
  text-decoration: underline;
  color: #fff;
}
.site-header__messenger-img {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: 0.4s ease;
  width: 100%;
  height: 100%;
}
.site-header__messenger-img--hover {
  opacity: 0;
  visibility: hidden;
}
.site-header__phone {
  display: inline-flex;
  align-items: center;
  font-weight: 700;
  color: #fff;
}
.site-header__phone::before {
  content: "";
  margin-right: 8px;
  width: 20px;
  height: 20px;
  background: url("../img/global/phone-20-white.svg") center/contain no-repeat;
}
.site-header__phone span {
  font-size: 20px;
  line-height: 130%;
}
@media (max-width: 1874px) {
  .site-header__phone span {
    font-size: 16px;
    line-height: 150%;
  }
}
@media (max-width: 575px) {
  .site-header__phone span {
    font-size: 14px;
    line-height: 143%;
  }
}
.site-header__phone:hover {
  text-decoration: underline;
  color: #fff;
}
.site-header__menu-btn {
  font-family: "Unbounded", sans-serif;
  font-size: 20px;
  line-height: 130%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.4s ease;
  box-shadow: 0 20px 40px -10px rgba(0, 0, 0, 0.1);
  border-color: transparent;
  border-radius: 0;
  width: 92px;
  height: 100vh;
  backdrop-filter: blur(30px);
  background: rgba(255, 255, 255, 0.15);
  font-weight: 800;
  text-transform: uppercase;
  color: #fff;
}
@media (max-width: 1874px) {
  .site-header__menu-btn {
    font-size: 16px;
    line-height: 150%;
  }
}
@media (max-width: 575px) {
  .site-header__menu-btn {
    font-size: 14px;
    line-height: 143%;
  }
}
.site-header__menu-btn:hover {
  background: rgba(255, 255, 255, 0.15);
  color: #fff;
}
.site-header__menu-btn:hover span {
  letter-spacing: 0.24em;
}
.site-header__menu-btn span {
  transform: rotate(-90deg);
  transition: 0.4s ease;
}
.site-header__search-wrapper {
  position: absolute;
  z-index: 9;
  top: 100%;
  left: 0;
  display: none;
  width: 100%;
}
.site-header__search-wrapper.active {
  display: flex;
}
.site-header__search-form {
  display: flex;
  gap: 24px;
  box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 16px 24px;
  background-color: #fff;
}
.site-header__search-label {
  position: relative;
  display: flex;
  flex: 1;
}
.site-header__search-label::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 24px;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  background: url("../img/global/search-16-gray.svg");
}
.site-header__search-input {
  flex: 1;
  border: 3px solid #f0f0f0;
  padding: 15px 21px 15px 45px;
}
.site-header.scrolled {
  background: #fff;
}
.site-header.scrolled .site-header__logo path:nth-of-type(1), .site-header.scrolled .site-header__logo path:nth-of-type(2), .site-header.scrolled .site-header__logo path:nth-of-type(3) {
  fill: #121212;
}
.site-header.scrolled .site-header__logo-mobile path:first-child {
  fill: #121212;
}
.site-header.scrolled .site-header__scroll-menu-btn {
  opacity: 1;
  visibility: visible;
}
.site-header.scrolled .site-header__search-btn {
  background: url("../img/global/search-24-lviolet.svg");
}
.site-header.scrolled .site-header__search-btn:hover {
  background: url("../img/global/search-24-lviolet.svg");
}
.site-header.scrolled .site-header__search-btn.active {
  background: url("../img/global/close-24-lviolet.svg");
}
.site-header.scrolled .site-header__search-btn.active:hover {
  background: url("../img/global/close-24-lviolet.svg");
}
.site-header.scrolled .site-header__messenger {
  color: #121212;
}
.site-header.scrolled .site-header__phone {
  color: #121212;
}
.site-header.scrolled .site-header__phone::before {
  background: url("../img/global/phone-20-dark.svg") center/contain no-repeat;
}
.site-header.scrolled .site-header__discuss-btn {
  border-color: #8073ff;
  color: #8073ff;
}
.site-header.scrolled .site-header__discuss-btn:hover {
  background-color: #8073ff;
  color: #fff;
}
.site-header.scrolled .site-header__menu-btn {
  opacity: 0;
  visibility: visible;
}
.site-header--blog {
  background: #fff;
}
.site-header--blog .site-header__logo path:nth-of-type(1), .site-header--blog .site-header__logo path:nth-of-type(2), .site-header--blog .site-header__logo path:nth-of-type(3) {
  fill: #121212;
}
.site-header--blog .site-header__search-btn {
  background: url("../img/global/search-24-lviolet.svg");
}
.site-header--blog .site-header__messenger {
  color: #8073ff;
}
.site-header--blog .site-header__phone {
  color: #8073ff;
}
.site-header--blog .site-header__phone::before {
  background: url("../img/global/phone-20-lviolet.svg") center/contain no-repeat;
}
.site-header--blog .site-header__phone:hover {
  color: #121212;
}
.site-header--blog .site-header__discuss-btn {
  border-color: #8073ff;
  color: #8073ff;
}
.site-header--blog .site-header__discuss-btn:hover {
  background-color: #8073ff;
  color: #fff;
}

@media (max-width: 1874px) {
  .site-header__wrapper {
    transition: 0.4s ease;
    padding-left: 8.333333%;
  }
  .site-header.scrolled .site-header__wrapper {
    padding-left: 0;
  }
}
@media (max-width: 1399px) {
  .site-header__wrapper {
    gap: 36px;
  }
}
@media (max-width: 1199px) {
  .site-header__wrapper {
    gap: 24px;
  }
  .site-header__center {
    gap: 24px;
    margin: 0 0 0 auto;
  }
  .site-header__messengers {
    gap: 16px;
  }
  .site-header__messenger {
    width: 24px;
    height: 24px;
    font-size: 0;
  }
  .site-header__messenger:hover .site-header__messenger-img {
    opacity: 0;
    visibility: hidden;
  }
  .site-header__messenger:hover .site-header__messenger-img--hover {
    opacity: 1;
    visibility: visible;
  }
  .site-header__messenger-img {
    opacity: 1;
    visibility: visible;
  }
  .site-header__messenger-img--hover {
    opacity: 0;
    visibility: hidden;
  }
  .site-header__menu-btn {
    width: 84px;
  }
}
@media (max-width: 991px) {
  .site-header__wrapper {
    padding-left: 0;
  }
  .site-header__scroll-menu-btn {
    order: 3;
    opacity: 1;
    visibility: visible;
    margin-left: 24px;
    color: #fff;
  }
  .site-header__scroll-menu-btn:hover {
    color: #121212;
  }
  .site-header__discuss-btn {
    display: none;
  }
  .site-header__menu-btn {
    display: none;
  }
  .site-header.scrolled .site-header__scroll-menu-btn {
    color: #121212;
  }
  .site-header.scrolled .site-header__scroll-menu-btn:hover {
    color: #8073ff;
  }
}
@media (max-width: 767px) {
  .site-header {
    padding: 16px 0;
  }
  .site-header__logo {
    display: none;
  }
  .site-header__logo-mobile {
    display: block;
  }
  .site-header__scroll-menu-btn {
    margin-left: 0;
  }
}
@media (max-width: 575px) {
  .site-header__center {
    gap: 16px;
  }
  .site-header__search-btn {
    display: none;
  }
  .site-header__messenger {
    width: 20px;
    height: 20px;
  }
  .site-header__phone::before {
    width: 16px;
    height: 16px;
  }
  .site-header__scroll-menu-btn {
    width: auto;
  }
}
.site-main {
  flex: 1;
}

.site-footer {
  padding: 96px 0 130px;
  background-color: #f8f8f8;
}
.site-footer .container {
  position: relative;
}
.site-footer .container::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: -130px;
  left: 0;
  width: 100%;
  height: 82px;
  background: url("../img/global/footer-text.svg") center/contain no-repeat;
}
.site-footer__logo-link {
  display: inline-block;
  margin-bottom: 48px;
}
.site-footer__site {
  font-size: 14px;
  line-height: 143%;
  margin-bottom: 8px;
  font-weight: 500;
}
.site-footer__privacy-policy {
  font-size: 14px;
  line-height: 143%;
  font-weight: 500;
}
.site-footer__menu-title {
  margin-bottom: 16px;
  font-weight: 700;
}
.site-footer__menu {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 0;
  padding: 0;
  list-style: none;
}
.site-footer__menu-link {
  font-size: 14px;
  line-height: 143%;
  font-weight: 500;
  color: #121212;
}
.site-footer__menu-link:visited {
  color: #121212;
}
.site-footer__menu-link:hover {
  color: #8073ff;
}
.site-footer__menu-link--main-menu {
  font-size: 16px;
  line-height: 150%;
  font-weight: 700;
}
@media (max-width: 575px) {
  .site-footer__menu-link--main-menu {
    font-size: 14px;
    line-height: 143%;
  }
}
.site-footer__contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.site-footer__phone {
  font-size: 20px;
  line-height: 130%;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 16px;
  font-weight: 700;
  color: #121212;
}
@media (max-width: 1874px) {
  .site-footer__phone {
    font-size: 16px;
    line-height: 150%;
  }
}
@media (max-width: 575px) {
  .site-footer__phone {
    font-size: 14px;
    line-height: 143%;
  }
}
.site-footer__phone::before {
  content: "";
  width: 20px;
  height: 20px;
  background: url("../img/global/phone-20-dark.svg");
}
.site-footer__email {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 16px;
  color: #8073ff;
}
.site-footer__email::before {
  content: "";
  width: 20px;
  height: 20px;
  background: url("../img/global/email-20-lviolet.svg");
}
.site-footer__address {
  display: inline-flex;
  gap: 8px;
  margin-bottom: 24px;
}
.site-footer__address::before {
  content: "";
  margin-top: 3px;
  min-width: 20px;
  width: 20px;
  height: 20px;
  background: url("../img/global/map-20-dark.svg");
}
.site-footer__messengers {
  font-size: 14px;
  line-height: 143%;
  font-weight: 500;
  color: #8073ff;
}
.site-footer__messenger {
  font-size: 16px;
  line-height: 150%;
  font-weight: 700;
  color: #8073ff;
}
@media (max-width: 575px) {
  .site-footer__messenger {
    font-size: 14px;
    line-height: 143%;
  }
}
.site-footer__messenger:hover {
  text-decoration: underline;
  color: #333;
}

@media (max-width: 767px) {
  .site-footer {
    padding: 48px 0 96px;
  }
  .site-footer .container::before {
    bottom: -96px;
  }
}
@media (max-width: 575px) {
  .site-footer {
    padding: 48px 0;
  }
  .site-footer .container::before {
    content: none;
  }
  .site-footer__logo-link {
    margin-bottom: 24px;
  }
  .site-footer__menu--development, .site-footer__menu--services {
    display: none;
  }
}
.slick-slider {
  margin: 0 -12px;
}

.slick-slide {
  padding: 0 12px;
}

.slick-dots {
  display: flex;
  align-items: center;
  order: 2;
  gap: 24px;
  margin: 0;
  padding: 0;
  list-style: none;
}
.slick-dots li {
  display: flex;
  margin-bottom: 0;
  height: 8px;
}
.slick-dots li.slick-active button {
  border-radius: 10px;
  width: 56px;
  background-color: #8073ff;
}
.slick-dots button {
  border: 0;
  border-radius: 50%;
  min-width: auto;
  width: 8px;
  height: 8px;
  padding: 0;
  background-color: #8c8c8c;
  font-size: 0;
}
.main-screen .slick-dots li.slick-active button {
  background-color: #fff;
}
.main-screen .slick-dots button {
  box-shadow: 0 20px 40px -10px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(30px);
}

.slick-arrow {
  border: none;
  padding: 0;
}
.slick-arrow:hover {
  background-color: transparent;
}
.slick-arrow:hover path {
  fill: #fff;
}
.slick-arrow.slick-prev {
  order: 1;
}
.slick-arrow.slick-next {
  order: 3;
}
.slick-arrow path {
  transition: 0.4s ease;
}

.modal-close-btn--menu {
  font-family: "Unbounded", sans-serif;
  font-size: 20px;
  line-height: 130%;
  position: fixed;
  top: 0;
  left: 0;
  border-color: transparent;
  border-radius: 0;
  width: 92px;
  height: 100vh;
  background: #f8f8f8;
  font-weight: 800;
  text-transform: uppercase;
  color: #8073ff;
}
@media (max-width: 1874px) {
  .modal-close-btn--menu {
    font-size: 16px;
    line-height: 150%;
  }
}
@media (max-width: 575px) {
  .modal-close-btn--menu {
    font-size: 14px;
    line-height: 143%;
  }
}
.modal-close-btn--menu:hover {
  background-color: #f8f8f8;
  color: #8073ff;
}
.modal-close-btn--menu:hover span {
  letter-spacing: 0.24em;
}
.modal-close-btn--menu span {
  transform: rotate(-90deg);
  transition: 0.4s ease;
}

@media (max-width: 1399px) {
  .modal-close-btn--menu {
    width: 82px;
  }
}
.plug-page {
  position: relative;
  display: flex;
  overflow: hidden;
  min-height: 100vh;
  padding: 96px 12px;
  background-color: #333;
}
.plug-page::before {
  content: "";
  position: absolute;
  inset: 0;
  animation: moving 10s ease-out infinite;
  background: url("../img/plug-page/background-k.png") center/cover no-repeat;
}
.plug-page__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  box-shadow: 0 20px 40px -10px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  max-width: 1198px;
  padding: 96px;
  backdrop-filter: blur(30px);
  background: rgba(255, 255, 255, 0.1);
}
.plug-page__title {
  margin-bottom: 48px;
  font-weight: 700;
  font-size: 42px;
  line-height: 124%;
  text-align: center;
  color: #fff;
}
.plug-page__btns {
  display: flex;
  gap: 24px;
  margin-bottom: 48px;
}
.plug-page__tg-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border: 3px solid #6924ff;
  border-radius: 8px;
  min-width: 196px;
  padding: 15px;
  background-color: #6924ff;
  font-weight: 700;
  color: #fff;
}
.plug-page__tg-btn:hover {
  border-color: #fff;
  background-color: transparent;
  color: #fff;
}
.plug-page__tg-btn::after {
  content: "";
  width: 24px;
  height: 24px;
  background: url("../img/plug-page/telegram-24-white.svg");
}
.plug-page__youtube-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border: 3px solid #fff;
  border-radius: 8px;
  min-width: 196px;
  padding: 15px;
  font-weight: 700;
  color: #fff;
}
.plug-page__youtube-btn:hover {
  border-color: #6924ff;
  background-color: #6924ff;
  color: #fff;
}
.plug-page__youtube-btn::after {
  content: "";
  width: 90px;
  height: 20px;
  background: url("../img/plug-page/youtube-btn.svg");
}
.plug-page__top-text {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 167%;
  text-align: center;
  color: #fff;
}
.plug-page__bottom-text {
  display: flex;
  align-items: center;
  gap: 16px;
  font-weight: 700;
  font-size: 18px;
  line-height: 167%;
  text-align: center;
  color: #fff;
}
.plug-page__email, .plug-page__phone {
  position: relative;
  font-weight: 700;
  font-size: 24px;
  line-height: 125%;
  color: #fff;
}
.plug-page__email:hover, .plug-page__phone:hover {
  color: #fff;
}
.plug-page__email:hover::before, .plug-page__phone:hover::before {
  right: -8px;
  left: -8px;
  width: calc(100% + 16px);
  height: 32px;
}
.plug-page__email::before, .plug-page__phone::before {
  content: "";
  position: absolute;
  z-index: -1;
  bottom: -2px;
  left: 0;
  transition: 0.4s ease;
  width: 100%;
  height: 15px;
  background-color: #8073ff;
}

@media (max-width: 991px) {
  .plug-page__wrapper {
    padding: 48px;
  }
  .plug-page__bottom-text {
    flex-direction: column;
  }
}
@media (max-width: 575px) {
  .plug-page__wrapper {
    padding: 24px;
  }
  .plug-page__logo {
    max-width: 250px;
  }
  .plug-page__title {
    margin-bottom: 24px;
    font-size: 24px;
  }
  .plug-page__btns {
    flex-direction: column;
    gap: 16px;
    margin-bottom: 24px;
    width: 100%;
  }
  .plug-page__tg-btn, .plug-page__youtube-btn {
    width: 100%;
  }
  .plug-page__top-text, .plug-page__bottom-text {
    font-size: 16px;
  }
  .plug-page__email, .plug-page__phone {
    font-size: 16px;
  }
}
@keyframes moving {
  from {
    transform: rotate(0) scale(1);
  }
  50% {
    transform: rotate(-5deg) scale(1.1);
  }
  to {
    transform: rotate(0) scale(1);
  }
}
.main-screen {
  overflow: hidden;
}
.main-screen__wrapper {
  position: relative;
}
.main-screen__item-wrapper {
  padding-bottom: 225px;
  background: linear-gradient(90deg, #6a5aff 40%, #a74ad1 100%);
}
.main-screen__item-content {
  display: flex;
  align-items: center;
  gap: 24px;
  border-bottom: 3px solid #8073ff;
}
.main-screen__item-title {
  margin-bottom: 0;
  color: #fff;
}
.main-screen__bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.main-screen__bottom-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  padding-bottom: 96px;
}
.main-screen__services {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 16px 72px;
  margin: 0;
  max-height: 80px;
  padding: 0;
  list-style: none;
}
.main-screen__service-link {
  font-size: 24px;
  line-height: 133%;
  font-weight: 700;
  color: #fff;
}
@media (max-width: 1874px) {
  .main-screen__service-link {
    font-size: 20px;
    line-height: 150%;
  }
}
@media (max-width: 1399px) {
  .main-screen__service-link {
    font-size: 18px;
    line-height: 167%;
  }
}
@media (max-width: 991px) {
  .main-screen__service-link {
    font-size: 16px;
    line-height: 162%;
  }
}
.main-screen__service-link:hover {
  text-decoration: underline;
  color: #fff;
}
.main-screen__controls {
  display: flex;
  align-items: center;
  gap: 24px;
  margin: auto 0 0 auto;
}

@media (max-width: 1874px) {
  .main-screen__item-wrapper {
    padding-left: calc(8.333333% + 12px);
  }
  .main-screen__item-img {
    max-width: 416px;
  }
  .main-screen__bottom-wrapper {
    padding-left: 8.333333%;
  }
  .main-screen__services {
    gap: 16px 48px;
  }
}
@media (max-width: 1399px) {
  .main-screen__item-img {
    max-width: 356px;
  }
  .main-screen__services {
    gap: 16px 32px;
  }
}
@media (max-width: 1199px) {
  .main-screen__item-wrapper {
    padding-bottom: 232px;
  }
  .main-screen__item-img {
    max-width: 248px;
  }
  .main-screen__bottom-wrapper {
    flex-direction: column;
    align-items: flex-start;
    gap: 48px;
    padding-bottom: 72px;
  }
  .main-screen__services {
    gap: 8px 67px;
  }
  .main-screen__controls {
    margin: 0 auto;
  }
}
@media (max-width: 991px) {
  .main-screen__item-wrapper {
    padding-left: 0;
  }
  .main-screen__bottom-wrapper {
    padding-left: 0;
  }
}
@media (max-width: 767px) {
  .main-screen__item-wrapper {
    padding: 24px 0 83px;
  }
  .main-screen__item-content {
    flex-direction: column;
    align-items: center;
    border-bottom: 0;
  }
  .main-screen__item-title {
    text-align: center;
  }
  .main-screen__item-img {
    max-width: 336px;
    max-height: 230px;
  }
  .main-screen__bottom-wrapper {
    padding-bottom: 40px;
  }
  .main-screen__services {
    display: none;
  }
}
.about__left {
  box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  height: 100%;
  padding: 48px;
}
.about__title:first-letter {
  color: #6924ff;
}
.about__right {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.about__team {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 8px;
  height: 100%;
  padding: 48px;
  background-color: #333;
}
.about__team-text {
  font-size: 20px;
  line-height: 130%;
  margin-bottom: 24px;
  color: #fff;
}
@media (max-width: 1874px) {
  .about__team-text {
    font-size: 16px;
    line-height: 150%;
  }
}
@media (max-width: 575px) {
  .about__team-text {
    font-size: 14px;
    line-height: 143%;
  }
}
.about__team-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
  border-radius: 8px;
  padding: 16px 24px;
  backdrop-filter: blur(25px);
  background: rgba(255, 255, 255, 0.15);
}
.about__team-link span {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  transition: 0.4s ease;
  color: #fff;
}
.about__team-link span::after {
  content: "";
  transition: 0.4s ease;
  min-width: 20px;
  width: 20px;
  height: 20px;
  background: url("../img/global/arrow-right-20-white.svg");
}
.about__team-link:hover span {
  color: #8073ff;
}
.about__team-link:hover span::after {
  background: url("../img/global/arrow-right-20-lviolet.svg");
}

@media (max-width: 1874px) {
  .about__team-link {
    flex-direction: column;
    gap: 16px;
    padding: 24px;
  }
}
@media (max-width: 1399px) {
  .about__team-link {
    flex-direction: row;
  }
}
@media (max-width: 767px) {
  .about__left {
    padding: 24px;
  }
  .about__team {
    padding: 24px;
  }
  .about__team-link {
    flex-direction: column;
  }
}
.advantages__text {
  font-family: "Unbounded", sans-serif;
  font-size: 42px;
  line-height: 124%;
  position: relative;
  margin: auto;
  max-width: 1190px;
  font-weight: 700;
  text-align: center;
}
@media (max-width: 1199px) {
  .advantages__text {
    font-size: 36px;
    line-height: 133%;
  }
}
@media (max-width: 991px) {
  .advantages__text {
    font-size: 32px;
    line-height: 131%;
  }
}
@media (max-width: 767px) {
  .advantages__text {
    font-size: 24px;
    line-height: 150%;
  }
}
@media (max-width: 575px) {
  .advantages__text {
    font-size: 20px;
    line-height: 150%;
  }
}
.advantages__text::before, .advantages__text::after {
  content: "";
  position: absolute;
  z-index: -1;
  width: 177px;
  height: 177px;
}
.advantages__text::before {
  top: -48px;
  left: -76px;
  animation: moving-up 5s ease-out infinite;
  background: url("../img/home-page/quote-up.svg") center/contain no-repeat;
}
.advantages__text::after {
  right: -78px;
  bottom: -69px;
  animation: moving-down 5s ease-out infinite;
  background: url("../img/home-page/quote-down.svg") center/contain no-repeat;
}

@media (max-width: 1399px) {
  .advantages__text::before {
    left: 0;
  }
  .advantages__text::after {
    right: 0;
  }
}
@media (max-width: 1199px) {
  .advantages__text::before, .advantages__text::after {
    width: 96px;
    height: 96px;
  }
}
@media (max-width: 767px) {
  .advantages__text::before, .advantages__text::after {
    width: 74px;
    height: 74px;
  }
  .advantages__text::before {
    top: -24px;
  }
  .advantages__text::after {
    bottom: -24px;
  }
}
@keyframes moving-up {
  from {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-24px);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes moving-down {
  from {
    transform: translateY(0);
  }
  50% {
    transform: translateY(24px);
  }
  to {
    transform: translateY(0);
  }
}
.principles__item-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.principles__item-icon {
  margin-bottom: 16px;
}
.principles__item-title {
  font-size: 24px;
  line-height: 133%;
  margin-bottom: 8px;
  font-weight: 700;
  text-align: center;
  color: #fff;
}
@media (max-width: 1874px) {
  .principles__item-title {
    font-size: 20px;
    line-height: 150%;
  }
}
@media (max-width: 1399px) {
  .principles__item-title {
    font-size: 18px;
    line-height: 167%;
  }
}
@media (max-width: 991px) {
  .principles__item-title {
    font-size: 16px;
    line-height: 162%;
  }
}
.principles__item-text {
  font-size: 14px;
  line-height: 143%;
  text-align: center;
  color: #fff;
}

@media (max-width: 575px) {
  .principles__item-icon {
    margin-bottom: 8px;
    width: 60px;
    height: 60px;
  }
  .principles__item-title {
    margin-bottom: 0;
  }
  .principles__item-text {
    display: none;
  }
}
.cases__link {
  margin: 0 0 24px auto;
}
.cases__link--mobile {
  display: none;
  margin: 24px 0 0 auto;
}
.cases__item {
  padding: 24px 12px;
}
.cases__item-wrapper {
  box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: 100%;
  padding: 32px;
}
.cases__item-title {
  font-size: 24px;
  line-height: 133%;
  margin-bottom: 16px;
  font-weight: 700;
}
@media (max-width: 1874px) {
  .cases__item-title {
    font-size: 20px;
    line-height: 150%;
  }
}
@media (max-width: 1399px) {
  .cases__item-title {
    font-size: 18px;
    line-height: 167%;
  }
}
@media (max-width: 991px) {
  .cases__item-title {
    font-size: 16px;
    line-height: 162%;
  }
}
.cases__item-text {
  margin-bottom: 24px;
}
.cases__item-img-wrapper {
  border-radius: 8px;
  padding: 32px;
  background-color: #f0f0f0;
}
.cases__item-img {
  border-radius: 8px;
  width: 100%;
}
.cases__item-btn--mobile {
  display: none;
  margin-top: 24px;
}
.cases__controls {
  display: flex;
  align-items: center;
  gap: 24px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .cases__item-btn--desktop {
    display: none;
  }
  .cases__item-btn--mobile {
    display: inline-flex;
  }
}
@media (max-width: 991px) {
  .cases__link--desktop {
    display: none;
  }
  .cases__link--mobile {
    display: inline-flex;
  }
}
@media (max-width: 575px) {
  .cases__item-wrapper {
    padding: 24px;
  }
  .cases__item-title {
    margin-bottom: 8px;
  }
  .cases__item-text {
    margin-bottom: 16px;
  }
  .cases__item-img-wrapper {
    padding: 16px;
  }
}
.services__link {
  margin: 0 0 48px auto;
}
.services__link--mobile {
  display: none;
  margin: 24px 0 0 auto;
}
.services__list {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 24px;
}
.services__item {
  grid-column: span 4;
}
.services__item:nth-child(1) {
  grid-row: span 3;
}
.services__item:nth-child(1) .services__item-wrapper {
  border-color: #333;
  padding: 48px 96px 72px 48px;
  background-color: #333;
}
.services__item:nth-child(1) .services__item-wrapper::before {
  content: "";
  position: absolute;
  right: 16px;
  bottom: 16px;
  width: 58px;
  height: 55px;
  background: url("../img/home-page/services-mobile-development.png");
}
.services__item:nth-child(1) .services__item-wrapper:hover {
  box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.1);
  border-color: #8073ff;
  background-color: #8073ff;
}
.services__item:nth-child(1) .services__item-wrapper:hover .services__item-title {
  color: #fff;
}
.services__item:nth-child(1) .services__item-title {
  color: #fff;
}
.services__item:nth-child(2) {
  grid-row: span 2;
}
.services__item:nth-child(2) .services__item-title {
  margin-bottom: 16px;
}
.services__item:nth-child(3) {
  grid-row: span 1;
}
.services__item:nth-child(3) .services__item-wrapper {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.services__item:nth-child(4) {
  grid-row: span 2;
}
.services__item:nth-child(4) .services__item-wrapper::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  transition: 0.4s ease;
  width: 227px;
  height: 144px;
  background: url("../img/home-page/services-development.svg");
}
.services__item:nth-child(4) .services__item-wrapper:hover::before {
  right: -3px;
  bottom: -3px;
  background: url("../img/home-page/services-development-hover.svg");
}
.services__item:nth-child(4) .services__item-title {
  margin-bottom: 16px;
}
.services__item:nth-child(5) {
  grid-row: span 1;
}
.services__item:nth-child(5) .services__item-wrapper {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.services__item-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  transition: 0.4s ease;
  border: 3px solid #f0f0f0;
  border-radius: 8px;
  height: 100%;
  padding: 32px;
}
.services__item-wrapper:hover {
  border-color: #8073ff;
  background-color: #8073ff;
}
.services__item-wrapper:hover .services__item-category {
  color: #fff;
}
.services__item-wrapper:hover .services__item-title {
  color: #fff;
}
.services__item-wrapper:hover .services__item-description {
  color: #fff;
}
.services__item-wrapper:hover .services__item-link {
  color: #fff;
}
.services__item-wrapper:hover .services__item-link::after {
  background: url("../img/global/arrow-right-20-white.svg") center/contain no-repeat;
}
.services__item-category {
  transition: 0.4s ease;
  margin-bottom: 16px;
  font-weight: 700;
  color: #8c8c8c;
}
.services__item-title {
  font-size: 32px;
  line-height: 131%;
  transition: 0.4s ease;
  font-weight: 700;
  color: #121212;
}
@media (max-width: 1874px) {
  .services__item-title {
    font-size: 24px;
    line-height: 150%;
  }
}
@media (max-width: 1399px) {
  .services__item-title {
    font-size: 20px;
    line-height: 150%;
  }
}
@media (max-width: 575px) {
  .services__item-title {
    font-size: 18px;
    line-height: 167%;
  }
}
.services__item-description {
  font-size: 14px;
  line-height: 143%;
  transition: 0.4s ease;
  margin: 8px 0 24px;
  font-weight: 500;
  color: #8c8c8c;
}

@media (max-width: 1399px) {
  .services__item:nth-child(1) .services__item-wrapper {
    padding: 48px 48px 72px 48px;
  }
}
@media (max-width: 1199px) {
  .services__item:nth-child(1) .services__item-wrapper {
    padding: 32px 48px 72px 32px;
  }
}
@media (max-width: 991px) {
  .services__link--desktop {
    display: none;
  }
  .services__link--mobile {
    display: inline-flex;
  }
  .services__list {
    display: flex;
    flex-direction: column;
  }
  .services__item:nth-child(n+4) {
    display: none;
  }
}
@media (max-width: 575px) {
  .services__item:nth-child(1) .services__item-wrapper {
    padding: 24px 24px 72px 24px;
  }
  .services__item-wrapper {
    padding: 24px;
  }
  .services__item-category {
    margin-bottom: 8px;
  }
  .services__item-description {
    margin-bottom: 16px;
  }
}
.clients__content {
  box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  height: 100%;
  padding: 96px;
}
.clients__list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px 48px;
  margin: 0;
  padding-left: 0;
  list-style: none;
}
.clients__item {
  position: relative;
  display: inline-flex;
  align-items: center;
  gap: 16px;
  width: calc(50% - 24px);
  color: #8c8c8c;
}
.clients__item::before {
  content: "";
  box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  min-width: 36px;
  height: 36px;
}
.clients__item::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  background: url("../img/global/check-16-lviolet.svg") center/contain no-repeat;
}
.clients__form-wrapper {
  border-radius: 8px;
  height: 100%;
  padding: 48px;
  background-color: #6924ff;
}
.clients__form-text {
  margin-bottom: 24px;
  color: #fff;
}
.clients__form-messenger {
  font-weight: 700;
  color: #fff;
}
.clients__form-messenger:hover {
  text-decoration: underline;
  color: #fff;
}
.clients__form-input {
  margin-bottom: 24px;
  width: 100%;
}
.clients__form-btn {
  margin-bottom: 16px;
  width: 100%;
}
.clients__form-policy {
  font-size: 12px;
  line-height: 150%;
  color: #fff;
}
.clients__form-policy a {
  font-weight: 700;
  color: #fff;
}
.clients__form-policy a:hover {
  text-decoration: underline;
}

@media (max-width: 1399px) {
  .clients__content {
    padding: 72px;
  }
}
@media (max-width: 1199px) {
  .clients__content {
    padding: 48px 30px;
  }
  .clients__list {
    gap: 16px 24px;
  }
  .clients__form-wrapper {
    padding: 36px;
  }
}
@media (max-width: 575px) {
  .clients__content {
    padding: 24px;
  }
  .clients__list {
    flex-direction: column;
    gap: 16px;
  }
  .clients__item {
    gap: 8px;
    width: 100%;
  }
  .clients__item::before {
    min-width: 24px;
    height: 24px;
  }
  .clients__item::after {
    left: 6px;
    width: 12px;
    height: 12px;
  }
  .clients__form-wrapper {
    padding: 24px;
  }
  .clients__form-input {
    margin-bottom: 16px;
  }
}
.awards {
  background-color: #f8f8f8;
}
.awards__logo {
  margin-bottom: 24px;
  max-width: 100%;
}
.awards__link {
  margin: 0 0 24px auto;
}
.awards__list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin: 0;
  padding: 0;
  list-style: none;
}
.awards__item {
  width: calc(50% - 12px);
}
.awards__item-wrapper {
  display: flex;
  box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  height: 100%;
  padding: 16px;
  backdrop-filter: blur(25px);
  background-color: #fff;
}
.awards__item-logo {
  margin-right: 16px;
  width: 54px;
  height: 54px;
  object-fit: contain;
}
.awards__item-title {
  margin: auto 4px auto 0;
  font-weight: 700;
}
.awards__item-hover-icon {
  position: relative;
  transition: 0.4s ease;
  margin: -8px -8px auto auto;
  border-radius: 50%;
  min-width: 16px;
  width: 16px;
  height: 16px;
  background-color: #f0f0f0;
  cursor: pointer;
}
.awards__item-hover-icon::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: background 0.4s ease;
  width: 2px;
  height: 8px;
  background: url("../img/global/exclamation-point-2-lviolet.svg");
}
.awards__item-hover-icon:hover {
  background-color: #8073ff;
}
.awards__item-hover-icon:hover::before {
  background: url("../img/global/exclamation-point-2-white.svg");
}
.awards__item-hover-icon:hover .awards__item-hidden-content {
  opacity: 1;
  visibility: visible;
}
.awards__item-hidden-content {
  position: absolute;
  z-index: 2;
  bottom: calc(100% + 6px);
  right: 0;
  display: flex;
  opacity: 0;
  visibility: hidden;
  transition: 0.4s ease;
  box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: 258px;
  padding: 16px;
  background-color: #fff;
}
.awards__item-certificate {
  margin: 0 auto;
  border-radius: 4px;
  max-height: 126px;
  object-fit: contain;
}

@media (max-width: 1399px) {
  .awards__link {
    order: 2;
    margin: 24px 0 0 auto;
  }
}
@media (max-width: 991px) {
  .awards__item {
    width: 100%;
  }
}
@media (max-width: 575px) {
  .awards__logo {
    margin-bottom: 16px;
  }
  .awards__item-logo {
    width: 48px;
    height: 48px;
  }
}
.marquee {
  overflow: hidden;
  background-color: #333;
}
.marquee__wrapper {
  padding: 32px 0;
}
.marquee__wrapper:hover .marquee__item {
  animation-play-state: paused;
}
.marquee__content {
  display: flex;
  gap: 16px;
}
.marquee__item {
  font-family: "Unbounded", sans-serif;
  font-size: 56px;
  line-height: 114%;
  display: flex;
  align-items: center;
  gap: 16px;
  animation: marquee 20s linear infinite;
  font-weight: 700;
  white-space: nowrap;
  color: #8073ff;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
@media (max-width: 575px) {
  .marquee {
    display: none;
  }
}
.blog-block__link {
  margin: 0 0 48px auto;
}
.blog-block__link--mobile {
  display: none;
  margin-left: auto;
}
.blog-block__item-wrapper {
  display: flex;
  flex-direction: column;
  transition: 0.4s ease;
  border: 3px solid #f0f0f0;
  border-radius: 8px;
  height: 100%;
  padding: 48px;
}
.blog-block__item-wrapper:hover {
  box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.1);
  border-color: #fff;
}
.blog-block__item-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
  margin-bottom: 48px;
}
.blog-block__item-category {
  font-size: 12px;
  line-height: 150%;
  border-radius: 8px;
  padding: 8px 16px;
  background-color: #f0f0f0;
  color: #8073ff;
}
.blog-block__item-resource-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}
.blog-block__item-resource-text {
  font-weight: 700;
  color: #121212;
}
.blog-block__item-title {
  font-size: 24px;
  line-height: 133%;
  margin-bottom: 24px;
  font-weight: 700;
  color: #121212;
}
@media (max-width: 1874px) {
  .blog-block__item-title {
    font-size: 20px;
    line-height: 150%;
  }
}
@media (max-width: 1399px) {
  .blog-block__item-title {
    font-size: 18px;
    line-height: 167%;
  }
}
@media (max-width: 991px) {
  .blog-block__item-title {
    font-size: 16px;
    line-height: 162%;
  }
}

@media (max-width: 1199px) {
  .blog-block__item-wrapper {
    padding: 36px;
  }
}
@media (max-width: 991px) {
  .blog-block__link--desktop {
    display: none;
  }
  .blog-block__link--mobile {
    display: inline-flex;
  }
}
@media (max-width: 575px) {
  .blog-block__item-wrapper {
    padding: 24px;
  }
  .blog-block__item-header {
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
  }
}
.main-form__wrapper {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  padding: 96px 6.2vw;
  background-color: #333;
}
.main-form__wrapper::before {
  content: "";
  position: absolute;
  inset: 0;
  animation: moving 10s ease-out infinite;
  background: url("../img/home-page/main-form-background-k.png") center/cover no-repeat;
}
.main-form__content {
  box-shadow: 0 20px 40px -10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  max-width: 500px;
  height: 100%;
  padding: 48px;
  backdrop-filter: blur(30px);
  background: rgba(255, 255, 255, 0.1);
}
.main-form__title {
  margin-bottom: 16px;
  color: #fff;
}
.main-form__text-up {
  color: #fff;
}
.main-form__text-down {
  font-weight: 700;
  color: #8073ff;
}
.main-form__messenger:hover {
  text-decoration: underline;
  color: #fff;
}
.main-form__form {
  position: relative;
}
.main-form__form-input {
  margin-bottom: 24px;
  width: 100%;
}
.main-form__form-textarea {
  margin-bottom: 24px;
  width: 100%;
}
.main-form__form-policy {
  font-size: 12px;
  line-height: 150%;
  color: #fff;
}
.main-form__form-policy a {
  font-weight: 700;
}
.main-form__form-policy a:hover {
  text-decoration: underline;
  color: #fff;
}

@media (max-width: 1199px) {
  .main-form__wrapper {
    padding: 48px;
  }
}
@media (max-width: 991px) {
  .main-form__wrapper::before {
    content: none;
  }
  .main-form__content {
    margin-bottom: 24px;
    box-shadow: none;
    max-width: 100%;
    padding: 0;
    backdrop-filter: none;
    background: transparent;
  }
  .main-form__text-up {
    display: inline-block;
  }
  .main-form__text-down {
    display: inline-block;
    font-weight: 400;
    color: #fff;
  }
  .main-form__messenger {
    color: #fff;
  }
  .main-form__form-policy {
    margin-top: 16px;
  }
}
@media (max-width: 767px) {
  .main-form__wrapper {
    padding: 36px;
  }
}
@media (max-width: 575px) {
  .main-form__wrapper {
    padding: 24px;
  }
  .main-form__form-input, .main-form__form-textarea {
    margin-bottom: 16px;
  }
}
@keyframes moving {
  from {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  to {
    transform: scale(1);
  }
}
.seo-block__text p:last-child {
  margin-bottom: 0;
}

.menu__wrapper {
  padding: 40px 0;
  background-color: #fff;
}
.menu__logo-link {
  display: block;
  margin-bottom: 48px;
}
.menu__hidden-column {
  display: none;
}
.menu__title {
  font-family: "Unbounded", sans-serif;
  font-size: 30px;
  line-height: 133%;
  margin-bottom: 24px;
  font-weight: 700;
}
@media (max-width: 1874px) {
  .menu__title {
    font-size: 24px;
    line-height: 150%;
  }
}
@media (max-width: 1399px) {
  .menu__title {
    font-size: 20px;
    line-height: 150%;
  }
}
.menu__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 0;
  padding: 0;
  list-style: none;
}
.menu__list--main-menu {
  gap: 24px;
}
.menu__item-link {
  font-size: 20px;
  line-height: 130%;
  font-weight: 700;
  color: #121212;
}
@media (max-width: 1874px) {
  .menu__item-link {
    font-size: 16px;
    line-height: 150%;
  }
}
@media (max-width: 575px) {
  .menu__item-link {
    font-size: 14px;
    line-height: 143%;
  }
}
.menu__item-link:visited {
  color: #121212;
}
.menu__item-link:hover {
  color: #8073ff;
}
.menu__item-link--main-menu {
  font-family: "Unbounded", sans-serif;
  font-size: 30px;
  line-height: 133%;
}
@media (max-width: 1874px) {
  .menu__item-link--main-menu {
    font-size: 24px;
    line-height: 150%;
  }
}
@media (max-width: 1399px) {
  .menu__item-link--main-menu {
    font-size: 20px;
    line-height: 150%;
  }
}
.menu__contacts-title {
  font-family: "Unbounded", sans-serif;
  font-size: 32px;
  line-height: 131%;
  margin-bottom: 24px;
  font-weight: 700;
}
@media (max-width: 1874px) {
  .menu__contacts-title {
    font-size: 24px;
    line-height: 150%;
  }
}
@media (max-width: 1399px) {
  .menu__contacts-title {
    font-size: 20px;
    line-height: 150%;
  }
}
@media (max-width: 575px) {
  .menu__contacts-title {
    font-size: 18px;
    line-height: 167%;
  }
}
.menu__messengers {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 5vw;
  border-radius: 8px;
  width: 100%;
  padding: 24px;
  background-color: #8073ff;
}
.menu__messengers::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1px;
  height: 32px;
  background-color: #fff;
}
.menu__messengers-title {
  font-size: 24px;
  line-height: 133%;
  font-weight: 700;
  color: #fff;
}
@media (max-width: 1874px) {
  .menu__messengers-title {
    font-size: 20px;
    line-height: 150%;
  }
}
@media (max-width: 1399px) {
  .menu__messengers-title {
    font-size: 18px;
    line-height: 167%;
  }
}
@media (max-width: 991px) {
  .menu__messengers-title {
    font-size: 16px;
    line-height: 162%;
  }
}
.menu__socials {
  display: flex;
  gap: 24px;
  margin-bottom: 48px;
}
.menu__socials-item {
  position: relative;
  width: 42px;
  height: 42px;
}
.menu__socials-item:hover .menu__socials-img {
  opacity: 0;
  visibility: hidden;
}
.menu__socials-item:hover .menu__socials-img--hover {
  opacity: 1;
  visibility: visible;
}
.menu__socials-img {
  position: absolute;
  inset: 0;
  transition: 0.4s ease;
  width: 100%;
  height: 100%;
}
.menu__socials-img--hover {
  opacity: 0;
  visibility: hidden;
}
.menu__messengers-list {
  display: flex;
  gap: 24px;
}
.menu__messenger {
  font-weight: 700;
  color: #fff;
}
.menu__messenger:visited {
  color: #fff;
}
.menu__messenger:hover {
  text-decoration: underline;
  color: #fff;
}

@media (max-width: 1874px) {
  .menu__logo-link {
    padding-left: 8.333333%;
  }
  .menu__hidden-column {
    display: block;
  }
  .menu__title {
    margin-bottom: 16px;
  }
  .menu__list--main-menu {
    gap: 16px;
  }
  .menu__contacts-title {
    margin-bottom: 16px;
  }
  .menu__socials-item {
    width: 36px;
    height: 36px;
  }
  .menu__messengers {
    gap: 3vw;
  }
  .menu__messengers::before {
    left: calc(50% - 14px);
  }
}
@media (max-width: 1399px) {
  .menu__socials {
    margin-bottom: 32px;
  }
  .menu__messengers {
    gap: 24px;
    padding: 24px 16px;
  }
  .menu__messengers::before {
    left: calc(50% - 27px);
  }
  .menu__messengers-title {
    font-size: 16px;
    line-height: 150%;
  }
}
@media (max-width: 1399px) and (max-width: 575px) {
  .menu__messengers-title {
    font-size: 14px;
    line-height: 143%;
  }
}
@media (max-width: 1399px) {
  .menu__messengers-list {
    gap: 16px;
  }
}
.breadcrumbs__wrapper {
  font-size: 14px;
  line-height: 143%;
  padding-bottom: 24px;
  font-weight: 500;
  color: #8c8c8c;
}

.most-read-articles {
  position: sticky;
  top: 132px;
  box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 32px;
}
.most-read-articles__title {
  font-size: 24px;
  line-height: 133%;
  margin-bottom: 24px;
  font-weight: 700;
}
@media (max-width: 1874px) {
  .most-read-articles__title {
    font-size: 20px;
    line-height: 150%;
  }
}
@media (max-width: 1399px) {
  .most-read-articles__title {
    font-size: 18px;
    line-height: 167%;
  }
}
@media (max-width: 991px) {
  .most-read-articles__title {
    font-size: 16px;
    line-height: 162%;
  }
}
.most-read-articles__list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin: 0;
  padding: 0;
  list-style: none;
}
.most-read-articles__item-link {
  margin-bottom: 8px;
  font-weight: 700;
  color: #121212;
}
.most-read-articles__item-link:visited {
  color: #121212;
}
.most-read-articles__item-link:hover {
  color: #8073ff;
}
.most-read-articles__item-details {
  display: flex;
  gap: 24px;
}
.most-read-articles__item-time, .most-read-articles__item-views {
  display: inline-flex;
  align-items: center;
  gap: 8px;
}
.most-read-articles__item-time::before, .most-read-articles__item-views::before {
  content: "";
  width: 20px;
  height: 20px;
}
.most-read-articles__item-time::before {
  background: url("../img/global/time-20-lviolet.svg");
}
.most-read-articles__item-views::before {
  background: url("../img/global/visibility-20-lviolet.svg");
}

.blog__categories {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-bottom: 48px;
  padding: 0;
  list-style: none;
}
.blog__category-link {
  font-size: 14px;
  line-height: 143%;
  transition: 0.4s ease;
  border: 3px solid #8073ff;
  border-radius: 8px;
  min-width: 138px;
  padding: 8px 11px;
  font-weight: 500;
  color: #8073ff;
}
.blog__category-link:visited {
  color: #8073ff;
}
.blog__category-link:hover {
  background-color: #8073ff;
  color: #fff;
}
.blog__category-link--current {
  border-color: #f0f0f0;
  background-color: #f0f0f0;
  color: #8c8c8c;
}
.blog__category-link--current:visited {
  color: #8c8c8c;
}
.blog__category-link--current:hover {
  border-color: #f0f0f0;
  background-color: #f0f0f0;
}
.blog__list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.blog__item:first-child .blog__item-wrapper {
  flex-direction: column-reverse;
  gap: 16px;
  margin-bottom: 24px;
  border: 0;
  padding: 0;
}
.blog__item:first-child .blog__item-wrapper:hover {
  box-shadow: none;
}
.blog__item:first-child .blog__item-content {
  max-width: 100%;
}
.blog__item:first-child .blog__item-date {
  margin-bottom: 16px;
  border-radius: 4px;
  padding: 8px 16px;
  background-color: #f0f0f0;
}
.blog__item:first-child .blog__item-date::before {
  content: none;
}
.blog__item:first-child .blog__item-title {
  font-size: 32px;
  line-height: 131%;
}
@media (max-width: 1874px) {
  .blog__item:first-child .blog__item-title {
    font-size: 24px;
    line-height: 150%;
  }
}
@media (max-width: 1399px) {
  .blog__item:first-child .blog__item-title {
    font-size: 20px;
    line-height: 150%;
  }
}
@media (max-width: 575px) {
  .blog__item:first-child .blog__item-title {
    font-size: 18px;
    line-height: 167%;
  }
}
.blog__item:first-child .blog__item-img-wrapper {
  margin: 0;
  width: 100%;
}
.blog__item-wrapper {
  display: flex;
  gap: 44px;
  transition: 0.4s ease;
  border: 3px solid #f0f0f0;
  border-radius: 8px;
  padding: 48px;
}
.blog__item-wrapper:hover {
  box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.1);
  border-color: #fff;
}
.blog__item-wrapper:hover .blog__item-link {
  color: #8073ff;
}
.blog__item-wrapper:hover .blog__item-link::after {
  background: url("../img/global/arrow-right-20-lviolet.svg") center/contain no-repeat;
}
.blog__item-content {
  max-width: 476px;
}
.blog__item-date {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 24px;
  color: #121212;
}
.blog__item-date::before {
  content: "";
  width: 20px;
  height: 20px;
  background: url("../img/global/calendar-20-lviolet.svg");
}
.blog__item-title {
  font-size: 24px;
  line-height: 133%;
  margin-bottom: 8px;
  font-weight: 700;
  color: #121212;
}
@media (max-width: 1874px) {
  .blog__item-title {
    font-size: 20px;
    line-height: 150%;
  }
}
@media (max-width: 1399px) {
  .blog__item-title {
    font-size: 18px;
    line-height: 167%;
  }
}
@media (max-width: 991px) {
  .blog__item-title {
    font-size: 16px;
    line-height: 162%;
  }
}
.blog__item-excerpt {
  margin-bottom: 16px;
  color: #8c8c8c;
}
.blog__item-img-wrapper {
  position: relative;
  margin-left: auto;
  width: 456px;
}
.blog__item-category {
  font-size: 12px;
  line-height: 150%;
  position: absolute;
  top: 24px;
  left: 24px;
  border-radius: 8px;
  padding: 8px 16px;
  background-color: #f0f0f0;
  color: #8073ff;
}
.blog__item-img {
  border-radius: 8px;
  width: 100%;
  object-fit: cover;
}
.blog__navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  margin-top: 48px;
}
.blog__navigation-prev, .blog__navigation-next {
  position: relative;
  box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: 48px;
  height: 48px;
}
.blog__navigation-prev::before, .blog__navigation-next::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 24px;
  height: 24px;
}
.blog__navigation-prev::before {
  background: url("../img/global/chevron-left-24-gray.svg");
}
.blog__navigation-next::before {
  background: url("../img/global/chevron-right-24-lviolet.svg");
}
.blog__navigation-number {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: 0.4s ease;
  box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: 48px;
  height: 48px;
  font-weight: 700;
}
.blog__navigation-number:hover {
  background-color: #8073ff;
  color: #fff;
}
.blog__navigation-number--current {
  box-shadow: none;
  background-color: #f0f0f0;
  color: #8c8c8c;
}
.blog__navigation-number--current:hover {
  background-color: #f0f0f0;
  color: #8c8c8c;
}
