.site-footer {
  padding: 96px 0 130px;
  background-color: $lgray2;

  .container {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      right: 0;
      bottom: -130px;
      left: 0;
      width: 100%;
      height: 82px;
      background: url("../img/global/footer-text.svg") center/contain no-repeat;
    }
  }

  &__logo-link {
    display: inline-block;
    margin-bottom: 48px;
  }

  &__site {
    @include fs-14;
    margin-bottom: 8px;
    font-weight: 500;
  }

  &__privacy-policy {
    @include fs-14;
    font-weight: 500;
  }

  &__menu-title {
    margin-bottom: 16px;
    font-weight: 700;
  }

  &__menu {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__menu-link {
    @include fs-14;
    font-weight: 500;
    color: $dark;

    &:visited {
      color: $dark;
    }

    &:hover {
      color: $lviolet;
    }

    &--main-menu {
      @include fs-16;
      font-weight: 700;
    }
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__phone {
    @include fs-20;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 16px;
    font-weight: 700;
    color: $dark;

    &::before {
      content: "";
      width: 20px;
      height: 20px;
      background: url("../img/global/phone-20-dark.svg");
    }
  }

  &__email {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 16px;
    color: $lviolet;

    &::before {
      content: "";
      width: 20px;
      height: 20px;
      background: url("../img/global/email-20-lviolet.svg");
    }
  }

  &__address {
    display: inline-flex;
    gap: 8px;
    margin-bottom: 24px;

    &::before {
      content: "";
      margin-top: 3px;
      min-width: 20px;
      width: 20px;
      height: 20px;
      background: url("../img/global/map-20-dark.svg");
    }
  }

  &__messengers {
    @include fs-14;
    font-weight: 500;
    color: $lviolet;
  }

  &__messenger {
    @include fs-16;
    font-weight: 700;
    color: $lviolet;

    &:hover {
      text-decoration: underline;
      color: $ldark;
    }
  }
}

@media (max-width: 767px) {
  .site-footer {
    padding: 48px 0 96px;

    .container::before {
      bottom: -96px;
    }
  }
}

@media (max-width: 575px) {
  .site-footer {
    padding: 48px 0;

    .container::before {
      content: none;
    }

    &__logo-link {
      margin-bottom: 24px;
    }

    &__menu {
      &--development,
      &--services {
        display: none;
      }
    }
  }
}