.about {
  &__left {
    box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    height: 100%;
    padding: 48px;
  }

  &__title:first-letter {
    color: $violet;
  }

  &__right {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__team {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 8px;
    height: 100%;
    padding: 48px;
    background-color: $ldark;
  }

  &__team-text {
    @include fs-20;
    margin-bottom: 24px;
    color: $white;
  }

  &__team-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
    border-radius: 8px;
    padding: 16px 24px;
    backdrop-filter: blur(25px);
    background: rgba(255, 255, 255, 0.15);

    span {
      display: inline-flex;
      align-items: center;
      gap: 8px;
      transition: .4s ease;
      color: $white;

      &::after {
        content: "";
        transition: .4s ease;
        min-width: 20px;
        width: 20px;
        height: 20px;
        background: url("../img/global/arrow-right-20-white.svg");
      }
    }

    &:hover {
      span {
        color: $lviolet;

        &::after {
          background: url("../img/global/arrow-right-20-lviolet.svg");
        }
      }
    }
  }
}

@media (max-width: 1874px) {
  .about {
    &__team-link {
      flex-direction: column;
      gap: 16px;
      padding: 24px;
    }
  }
}

@media (max-width: 1399px) {
  .about {
    &__team-link {
      flex-direction: row;
    }
  }
}

@media (max-width: 767px) {
  .about {
    &__left {
      padding: 24px;
    }

    &__team {
      padding: 24px;
    }

    &__team-link {
      flex-direction: column;
    }
  }
}