.advantages {
  &__text {
    @include sff;
    @include fs-42;
    position: relative;
    margin: auto;
    max-width: 1190px;
    font-weight: 700;
    text-align: center;

    &::before,
    &::after {
      content: "";
      position: absolute;
      z-index: -1;
      width: 177px;
      height: 177px;
    }

    &::before {
      top: -48px;
      left: -76px;
      animation: moving-up 5s ease-out infinite;
      background: url("../img/home-page/quote-up.svg") center/contain no-repeat;
    }

    &::after {
      right: -78px;
      bottom: -69px;
      animation: moving-down 5s ease-out infinite;
      background: url("../img/home-page/quote-down.svg") center/contain no-repeat;
    }
  }
}

@media (max-width: 1399px) {
  .advantages {
    &__text {
      &::before {
        left: 0;
      }

      &::after {
        right: 0;
      }
    }
  }
}

@media (max-width: 1199px) {
  .advantages {
    &__text {
      &::before,
      &::after{
        width: 96px;
        height: 96px;
      }
    }
  }
}

@media (max-width: 767px) {
  .advantages {
    &__text {
      &::before,
      &::after{
        width: 74px;
        height: 74px;
      }

      &::before {
        top: -24px;
      }

      &::after {
        bottom: -24px;
      }
    }
  }
}

@keyframes moving-up {
  from {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-24px);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes moving-down {
  from {
    transform: translateY(0);
  }

  50% {
    transform: translateY(24px);
  }

  to {
    transform: translateY(0);
  }
}