.blog-block {
  &__link {
    margin: 0 0 48px auto;

    &--mobile {
      display: none;
      margin-left: auto;
    }
  }

  &__item-wrapper {
    display: flex;
    flex-direction: column;
    transition: .4s ease;
    border: 3px solid $lgray;
    border-radius: 8px;
    height: 100%;
    padding: 48px;

    &:hover {
      box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.1);
      border-color: $white;
    }
  }

  &__item-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
    margin-bottom: 48px;
  }

  &__item-category {
    @include fs-12;
    border-radius: 8px;
    padding: 8px 16px;
    background-color: $lgray;
    color: $lviolet;
  }

  &__item-resource-wrapper {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__item-resource-text {
    font-weight: 700;
    color: $dark;
  }

  &__item-title {
    @include fs-24;
    margin-bottom: 24px;
    font-weight: 700;
    color: $dark;
  }

  &__item-link {
    pointer-events: none;
  }
}

@media (max-width: 1199px) {
  .blog-block {
    &__item-wrapper {
      padding: 36px;
    }
  }
}

@media (max-width: 991px) {
  .blog-block {
    &__link {
      &--desktop {
        display: none;
      }

      &--mobile {
        display: inline-flex;
      }
    }
  }
}

@media (max-width: 575px) {
  .blog-block {
    &__item-wrapper {
      padding: 24px;
    }

    &__item-header {
      flex-direction: column;
      align-items: flex-start;
      gap: 8px;
    }
  }
}