.breadcrumbs {
  &__wrapper {
    @include fs-14;
    margin: 0;
    padding: 0 0 24px;
    font-weight: 500;
    color: $gray;
    list-style: none;
  }

  &__item {
    display: inline;

    & + &::before {
      content: "/";
    }
  }

  &--cases {
    background: linear-gradient(90deg, #5d9fff 0%, #b8dcff 100%);

    .breadcrumbs {
      &__wrapper {
        color: $lgray;
      }
    }
  }

  &--case {
    background: linear-gradient(90deg, #f3f3f3 0%, #f3f3f3 1%, #f3f3f3 26%);
  }
}