.breadcrumbs {
  &__wrapper {
    @include fs-14;
    margin: 0;
    padding: 0 0 24px;
    font-weight: 500;
    color: $gray;
    list-style: none;
  }

  &__item {
    display: inline;

    & + &::before {
      content: "/";
    }
  }

  &--cases {
    background: linear-gradient(90deg, #eff3fc 0%, #d9e6f9 50%, #f2e7f7 100%);
  }

  &--case {
    background: linear-gradient(90deg, #f3f3f3 0%, #f3f3f3 1%, #f3f3f3 26%);
  }

  &--contacts {
    background: linear-gradient(90deg, #e9defa 0%, #fbfcdb 100%);
  }
}