.breadcrumbs {
  &__wrapper {
    @include fs-14;
    margin: 0;
    padding: 0 0 24px;
    font-weight: 500;
    color: $gray;
    list-style: none;
  }

  &__item {
    display: inline;

    & + &::before {
      content: "/";
    }
  }
}