.cases {
  &__link {
    margin: 0 0 24px auto;

    &--mobile {
      display: none;
      margin: 24px 0 0 auto;
    }
  }

  &__item {
    padding: 24px 12px;
  }

  &__item-wrapper {
    box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 100%;
    padding: 32px;
  }

  &__item-title {
    @include fs-24;
    margin-bottom: 16px;
    font-weight: 700;
  }

  &__item-text {
    margin-bottom: 24px;
  }

  &__item-img-wrapper {
    border-radius: 8px;
    padding: 32px;
    background-color: $lgray;
  }

  &__item-img {
    border-radius: 8px;
    width: 100%;
  }

  &__item-btn {
    &--mobile {
      display: none;
      margin-top: 24px;
    }
  }

  &__controls {
    display: flex;
    align-items: center;
    gap: 24px;
    margin: 0 auto;
  }
}

@media (max-width: 1199px) {
  .cases {
    &__item-btn {
      &--desktop {
        display: none;
      }

      &--mobile {
        display: inline-flex;
      }
    }
  }
}

@media (max-width: 991px) {
  .cases {
    &__link {
      &--desktop {
        display: none;
      }

      &--mobile {
        display: inline-flex;
      }
    }
  }
}

@media (max-width: 575px) {
  .cases {
    &__item-wrapper {
      padding: 24px;
    }

    &__item-title {
      margin-bottom: 8px;
    }

    &__item-text {
      margin-bottom: 16px;
    }

    &__item-img-wrapper {
      padding: 16px;
    }

    &__item-img {
      height: 140px;
    }
  }
}