.case-goals-achieved {
  margin-bottom: 96px;
  background-color: $lgray2;

  &__title {
    margin-bottom: 60px;
  }

  &__img {
    margin: auto auto 0 0;
  }
}

@media (max-width: 991px) {
  .case-goals-achieved {
    &__title {
      margin-bottom: 24px;
    }

    &__img {
      display: none;
    }
  }
}

@media (max-width: 767px) {
  .case-goals-achieved {
    margin-bottom: 48px;
  }
}