.case-description-stages {
  &__text {
    overflow: hidden;
    margin-bottom: 24px;
    max-height: 136px;

    &.show {
      overflow: visible;
      max-height: 100%;
    }
  }

  &__btn {
    gap: 8px;
    border: 0;
    padding: 0;
    color: #8073ff;

    &::after {
      content: "";
      transition: 0.4s ease;
      width: 20px;
      height: 20px;
      background: url("../img/global/chevron-down-20-lviolet.svg");
    }

    &.active::after {
      transform: rotate(180deg);
    }
  }
}

@media (max-width: 575px) {
  .case-description-stages {
    &__btn {
      width: auto;
    }
  }
}