.main-form {
  &__wrapper {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    padding: 96px 6.2vw;
    background-color: $ldark;

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      animation: moving 10s ease-out infinite;
      background: url("../img/home-page/main-form-background-k.png") center/cover no-repeat;
    }
  }

  &__content {
    box-shadow: 0 20px 40px -10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    max-width: 500px;
    height: 100%;
    padding: 48px;
    backdrop-filter: blur(30px);
    background: rgba(255, 255, 255, 0.1);
  }

  &__title {
    margin-bottom: 16px;
    color: $white;
  }

  &__text-up {
    color: $white;
  }

  &__text-down {
    font-weight: 700;
    color: $lviolet;
  }

  &__messenger {
    &:hover {
      text-decoration: underline;
      color: $white;
    }
  }

  &__form {
    position: relative;
  }

  &__form-input {
    margin-bottom: 24px;
    width: 100%;
  }

  &__form-textarea {
    margin-bottom: 24px;
    width: 100%;
  }

  &__form-policy {
    @include fs-12;
    color: $white;

    a {
      font-weight: 700;

      &:hover {
        text-decoration: underline;
        color: $white;
      }
    }
  }
}

@media (max-width: 1199px) {
  .main-form {
    &__wrapper {
      padding: 48px;
    }
  }
}

@media (max-width: 991px) {
  .main-form {
    &__wrapper {
      &::before {
        content: none;
      }
    }

    &__content {
      margin-bottom: 24px;
      box-shadow: none;
      max-width: 100%;
      padding: 0;
      backdrop-filter: none;
      background: transparent;
    }

    &__text-up {
      display: inline-block;
    }

    &__text-down {
      display: inline-block;
      font-weight: 400;
      color: $white;
    }

    &__messenger {
      color: $white;
    }

    &__form-policy {
      margin-top: 16px;
    }
  }
}

@media (max-width: 767px) {
  .main-form {
    &__wrapper {
      padding: 36px;
    }
  }
}

@media (max-width: 575px) {
  .main-form {
    &__wrapper {
      padding: 24px;
    }

    &__form-input,
    &__form-textarea{
      margin-bottom: 16px;
    }
  }
}

@keyframes moving {
  from {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  to {
    transform: scale(1);
  }
}