.marquee {
  padding: 32px 0;
  background-color: $ldark;

  &__wrapper {
    display: flex;
    gap: 16px;
    overflow: hidden;
  }

  &__item {
    @include sff;
    @include fs-56;
    display: flex;
    align-items: center;
    gap: 16px;
    animation: marquee 20s linear infinite;
    font-weight: 700;
    white-space: nowrap;
    color: $lviolet;
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0)
  }

  100% {
    transform: translateX(-100%)
  }
}