.marquee {
  overflow: hidden;
  background-color: $ldark;

  &__wrapper {
    padding: 32px 0;

    &:hover {
      .marquee__item {
        animation-play-state: paused;
      }
    }
  }

  &__content {
    display: flex;
    gap: 16px;

  }

  &__item {
    @include sff;
    @include fs-56;
    display: flex;
    align-items: center;
    gap: 16px;
    animation: marquee 20s linear infinite;
    font-weight: 700;
    white-space: nowrap;
    color: $lviolet;
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0)
  }

  100% {
    transform: translateX(-100%)
  }
}

@media (max-width: 575px) {
  .marquee {
    display: none;
  }
}