.menu {
  &__wrapper {
    padding: 40px 0;
    background-color: $white;
  }

  &__header {
    display: flex;
    align-items: center;
    gap: 48px;
    margin-bottom: 48px;
  }

  &__logo-mobile {
    display: none;
  }

  &__header-messengers {
    display: none;
    gap: 8px;
    margin-left: auto;
  }

  &__header-messenger {
    position: relative;
    width: 20px;
    height: 20px;

    &:hover {
      .menu__header-messenger-img {
        opacity: 0;
        visibility: hidden;

        &--hover {
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }

  &__header-messenger-img {
    position: absolute;
    top: 0;
    left: 0;
    transition: .4s ease;
    width: 100%;
    height: 100%;
    object-fit: contain;

    &--hover {
      opacity: 0;
      visibility: hidden;
    }
  }

  &__phone {
    display: none;
    font-size: 0;

    &::before {
      content: "";
      width: 20px;
      height: 20px;
      background: url("../img/global/phone-20-dark.svg") center/contain no-repeat;
    }
  }

  &__title {
    @include sff;
    @include fs-30;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
    margin-bottom: 24px;
    font-weight: 700;

    &--development,
    &--services {
      &::after {
        content: "";
        opacity: 0;
        visibility: hidden;
        transition: .4s ease;
        width: 24px;
        height: 24px;
        background: url("../img/global/chevron-right-24-dark.svg");
      }
    }

    &.active {
      &::after {
        background: url("../img/global/chevron-up-24-lviolet.svg");
      }
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 0;
    padding: 0;
    list-style: none;

    &--main-menu {
      gap: 24px;
    }

    &.show {
      display: flex;
      margin-bottom: 8px;
    }
  }

  &__item-link {
    @include fs-20;
    font-weight: 700;
    color: $dark;

    &:visited {
      color: $dark;
    }

    &:hover {
      color: $lviolet;
    }

    &--main-menu {
      @include sff;
      @include fs-30;
    }
  }

  &__contacts-title {
    @include sff;
    @include fs-32;
    margin-bottom: 24px;
    font-weight: 700;
  }

  &__messengers {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 5vw;
    border-radius: 8px;
    width: 100%;
    padding: 24px;
    background-color: $lviolet;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 1px;
      height: 32px;
      background-color: $white;
    }
  }

  &__messengers-title {
    @include fs-24;
    font-weight: 700;
    color: $white;
  }

  &__socials {
    display: flex;
    gap: 24px;
    margin-bottom: 48px;
  }

  &__socials-item {
    position: relative;
    width: 42px;
    height: 42px;

    &:hover {
      .menu__socials-img {
        opacity: 0;
        visibility: hidden;

        &--hover {
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }

  &__socials-img {
    position: absolute;
    inset: 0;
    transition: .4s ease;
    width: 100%;
    height: 100%;

    &--hover {
      opacity: 0;
      visibility: hidden;
    }
  }

  &__messengers-list {
    display: flex;
    gap: 24px;
  }

  &__messenger {
    font-weight: 700;
    color: $white;

    &:visited {
      color: $white;
    }

    &:hover {
      text-decoration: underline;
      color: $white;
    }
  }
}

@media (max-width: 1874px) {
  .menu {
    &__title {
      margin-bottom: 16px;
    }

    &__list {
      &--main-menu {
        gap: 16px;
      }
    }

    &__contacts-title {
      margin-bottom: 16px;
    }

    &__socials-item {
      width: 36px;
      height: 36px;
    }

    &__messengers {
      gap: 3vw;

      &::before {
        left: calc(50% - 14px);
      }
    }
  }
}

@media (max-width: 1399px) {
  .menu {
    &__socials {
      margin-bottom: 32px;
    }

    &__messengers {
      gap: 24px;
      padding: 24px 16px;

      &::before {
        left: calc(50% - 27px);
      }
    }

    &__messengers-title {
      @include fs-16;
    }

    &__messengers-list {
      gap: 16px;
    }
  }
}

@media (max-width: 1199px) {
  .menu {
    &__header {
      margin-bottom: 32px;
    }
  }
}

@media (max-width: 991px) {
  .menu {
    &__wrapper {
      padding: 24px 0;
    }

    &__header {
      margin-bottom: 24px;
    }
  }
}

@media (max-width: 767px) {
  .menu {
    &__wrapper {
      padding: 16px 0 24px;
    }

    &__header {
      gap: 24px;
    }

    &__title {
      @include fs-18;
      margin-bottom: 8px;
    }

    &__list {
      gap: 8px;
    }

    &__item-link--main-menu {
      @include fs-18;
    }

    &__contacts-title {
      @include fs-18;
    }

    &__socials {
      gap: 16px;
      margin-bottom: 24px;
    }

    &__socials-item {
      width: 24px;
      height: 24px;
    }

    &__messengers {
      padding: 16px;

      &::before {
        left: calc(50% - 22px);
      }
    }

    &__messengers-title,
    &__messenger {
      @include fs-12;
    }
  }
}

@media (max-width: 575px) {
  .menu {
    &__header {
      margin-bottom: 32px;
    }

    &__logo-desktop {
      display: none;
    }

    &__logo-mobile {
      display: block;
    }

    &__header-messengers {
      display: flex;
    }

    &__phone {
      display: inline-flex;
    }

    &__contacts-title {
      margin-bottom: 8px;
    }

    &__title {
      &--development,
      &--services {
        &::after {
          opacity: 1;
          visibility: visible;
        }

        & + ul {
          display: none;
        }
      }
    }
  }
}