.modal-close-btn {
  &--menu {
    @include sff;
    @include fs-18;

    border: 0;
    border-radius: 0;
    padding: 0;
    font-weight: 500;
    color: $dark;

    &:hover {
      color: $lviolet;
    }
  }
}

@media (max-width: 575px) {
  .modal-close-btn {
    &--menu {
      @include fs-12;
      width: auto;
    }
  }
}