.principles {
  &__item-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__item-icon {
    margin-bottom: 16px;
  }

  &__item-title {
    @include fs-24;
    margin-bottom: 8px;
    font-weight: 700;
    text-align: center;
    color: $white;
  }

  &__item-text {
    @include fs-14;
    text-align: center;
    color: $white;
  }
}

@media (max-width: 575px) {
  .principles {
    &__item-icon {
      margin-bottom: 8px;
      width: 60px;
      height: 60px;
    }

    &__item-title {
      margin-bottom: 0;
    }

    &__item-text {
      display: none;
    }
  }
}