.slick-slider {
  margin: 0 -12px;
}

.slick-slide {
  padding: 0 12px;
}

.slick-dots {
  display: flex;
  align-items: center;
  order: 2;
  gap: 24px;
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    display: flex;
    margin-bottom: 0;
    height: 8px;

    &.slick-active button {
      border-radius: 10px;
      width: 56px;
      background-color: $lviolet;
    }
  }

  button {
    border: 0;
    border-radius: 50%;
    min-width: auto;
    width: 8px;
    height: 8px;
    padding: 0;
    background-color: $gray;
    font-size: 0;
  }

  .main-screen & {
    li.slick-active button {
      background-color: $white;
    }

    button {
      box-shadow: 0 20px 40px -10px rgba(0, 0, 0, 0.1);
      background-color: rgba(255, 255, 255, 0.15);
      backdrop-filter: blur(30px);
    }
  }
}

.slick-arrow {
  border: none;
  padding: 0;

  &:hover {
    background-color: transparent;

    path {
      fill: $white;
    }
  }

  &.slick-prev {
    order: 1;
  }

  &.slick-next {
    order: 3;
  }

  path {
    transition: .4s ease;
  }
}