:root {
  color-scheme: light only;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body, button, input, select, optgroup, textarea {
  @include ff;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: $dark;
}

a {
  transition: color 0.4s ease;
  text-decoration: none;
  color: $lviolet;

  &:visited {
    color: $lviolet;
  }

  &:hover {
    color: $violet;
  }

  &:active {
    color: $violet;
  }
}

h1,
h2,
h3,
.main-title,
.section-title {
  @include sff;
  margin: 0 0 24px;
  font-weight: 700;
}

h1,
.main-title {
  font-size: 90px;
  line-height: 111%;
}

h2,
.section-title {
  font-size: 56px;
  line-height: 114%;
}

h3 {
  font-size: 32px;
  line-height: 131%;
}

button,
.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: .4s ease;
  border: 3px solid $white;
  border-radius: 8px;
  padding: 15px 27px;
  background-color: transparent;
  font-weight: 700;
  color: $white;

  &:hover {
    background-color: $white;
    color: $lviolet;
  }

  &--violet {
    border-color: $lviolet;
    color: $lviolet;

    &:hover {
      background-color: $lviolet;
      color: $white;
    }
  }

  &--white {
    background-color: $white;
    color: $lviolet;

    &:hover {
      border-color: $ldark;
      background-color: $ldark;
      color: $white;
    }
  }
}

input {
  border: 1px solid $white;
  border-radius: 8px;
  padding: 16px 23px;
  line-height: 162%;
  color: $gray;

  &:focus {
    border-color: $violet;
    color: $dark;
  }

  &:focus-visible {
    outline: none;
  }

  &:invalid {
    border-color: #ff4949;
    color: #ff4949;
  }

  &::placeholder {
    color: $gray;
  }

  &.secondary {
    border: 3px solid $lgray;
    padding: 15px 21px;
    background-color: $white;
    line-height: 150%;

    &:focus {
      border-color: $white;
      background-color: $white;
    }

    &:invalid {
      border-color: #ff4949;
      color: #ff4949;
    }

    &::placeholder {
      color: $white;
    }

    &:placeholder-shown {
      background-color: transparent;
    }
  }
}

textarea {
  border: 1px solid $white;
  border-radius: 8px;
  height: 115px;
  padding: 23px;
  line-height: 162%;
  color: $gray;

  &:focus {
    border-color: $violet;
    color: $dark;
  }

  &:focus-visible {
    outline: none;
  }

  &::placeholder {
    color: $gray;
  }
}

@media (max-width: 1874px) {
  h1,
  .main-title {
    font-size: 70px;
    line-height: 114%;
  }

  h3 {
    font-size: 24px;
    line-height: 150%;
  }
}

@media (max-width: 1399px) {
  h1,
  .main-title {
    font-size: 54px;
    line-height: 119%;
  }

  h2,
  .section-title {
    font-size: 48px;
    line-height: 117%;
  }

  h3 {
    font-size: 20px;
  }
}

@media (max-width: 1199px) {
  h1,
  .main-title {
    font-size: 48px;
    line-height: 117%;
  }

  h2,
  .section-title {
    font-size: 36px;
    line-height: 133%;
  }
}

@media (max-width: 991px) {
  h1,
  .main-title {
    font-size: 40px;
    line-height: 130%;
  }

  h2,
  .section-title {
    font-size: 32px;
    line-height: 131%;
  }
}

@media (max-width: 575px) {
  body {
    font-size: 14px;
    line-height: 143%;
  }

  h1,
  .main-title {
    font-size: 30px;
    line-height: 133%;
  }

  h2,
  .section-title {
    font-size: 24px;
    line-height: 150%;
  }

  h3 {
    font-size: 18px;
    line-height: 167%;
  }

  button,
  .button {
    width: 100%;
  }
}