@mixin ff {
  font-family: "Manrope", sans-serif;
}

@mixin sff {
  font-family: "Unbounded", sans-serif;
}

@mixin fs-14 {
  font-size: 14px;
  line-height: 143%;
}

@mixin fs-16 {
  font-size: 16px;
  line-height: 150%;
}

@mixin fs-20 {
  font-size: 20px;
  line-height: 130%;
}

@mixin fs-24 {
  font-size: 24px;
  line-height: 133%;
}